*{
	
	margin:0;
	padding:0;
}

body,html{
	height:100%;
	min-height:100%;
}



#menu {
	display:inline-block;
	width:100%;
	background:rgba(0,0,0,0.6);
	color: white ;
	position:fixed;
	top:0;
	left:0;
	z-index:2000;
	height:65px;		
	
}

#map {
position:fixed;
height:90%;
width: 100%;
top:82px;
left:0;
z-index: 1000;
	
}
