{% extends 'masterpage.html' %}
{% load staticfiles %}
{% block content %}
    <div id="page-wrapper">

        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-money"></i>&nbsp;Perception de l'exposition aux ménaces</h3>
              </div>


        <form action="/NextFormEnquete/{{ id }}/" method="post" role="form">
            {% csrf_token %}
  <fieldset>
            <table id="form1">
        <div class="row">
          <div class="col-lg-6">
		  
		  <tr><td colspan='3'>
		          <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-money"></i>&nbsp;Sections communales / Localités exposées et degré d’exposition
					Quelles communes / sections communales sont les plus exposées aux risques prioritaires identifiées?

				</h3>
              </div>
			</div>
			</div>
			</td>
			<tr>
		  
		  
              <tr><td><span>Risque #1</span></td><td colspan="2">{{ formr1.as_p }}</td></tr>
              <tr><td colspan="3"> <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-primary">
                        <div class="panel-heading">
                    </div>
                </div>
              </div>
                  </div></td></tr>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
              <tr><td><span>Risque #2</span></td><td colspan="2">{{ formr2.as_p }}</td></tr>
             <tr><td colspan="3"> <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-primary">
                        <div class="panel-heading">
                    </div>
                </div>
              </div>
                  </div></td></tr>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
              <tr><td><span>Risque #3</span></td><td colspan="2">{{ formr3.as_p }}</td></tr>
               <tr><td colspan="3"> <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-primary">
                        <div class="panel-heading">
                    </div>
                </div>
              </div>
                  </div></td></tr>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
               <tr><td><span>Risque #4</span></td><td colspan="2">{{ formr4.as_p }}</td></tr>

          </div>
        </div>
                </table>
    </fieldset>

    <fieldset>
 
            <table id="form1">
        <div class="row">
          <div class="col-lg-6">
		  <tr><td colspan='3'>
		          <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-money"></i>&nbsp;5.	Niveau de vulnérabilité des Sections communales / Localités par rapport aux risques prioritaires
				Quelles sections communales / localités sont les plus vulnérables aux risques prioritaires identifiés?

				</h3>
              </div>
			</div>
			</div>
			</td>
			<tr>

              <tr><td><span>Risque #1</span></td><td colspan="2">{{ formvr1.as_p }}</td></tr>
              <tr><td colspan="3"> <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-primary">
                        <div class="panel-heading">
                    </div>
                </div>
              </div>
                  </div></td></tr>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
              <tr><td><span>Risque #2</span></td><td colspan="2">{{ formvr2.as_p }}</td></tr>
             <tr><td colspan="3"> <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-primary">
                        <div class="panel-heading">
                    </div>
                </div>
              </div>
                  </div></td></tr>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
              <tr><td><span>Risque #3</span></td><td colspan="2">{{ formvr3.as_p }}</td></tr>
               <tr><td colspan="3"> <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-primary">
                        <div class="panel-heading">
                    </div>
                </div>
              </div>
                  </div></td></tr>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
               <tr><td><span>Risque #4</span></td><td colspan="2">{{ formvr4.as_p }}</td></tr>

          </div>
        </div>




        <div class="row">
          <div class="col-lg-6">
              <tr><td></td><td colspan="2">
              <button type="submit" class="btn btn-default">Next --></button>
                  </td>
              </tr>

          </div>

        </div><!-- /.row -->
                </table>
    </fieldset>


        </form>

     </div>
              </div>
            </div>
      </div><!-- /#page-wrapper -->



{% endblock %}